.text-field {
  padding: .5rem;
  border: 2.5px solid $ocean-green;
  border-radius: .2rem;
  width: 100%;
  min-width: 5rem;
}

.text-field:focus {
  background-color: rgba($ocean-green, 0.05);
}

.btn {
  font-size: .8rem;
  font-weight: 700;
  border-radius: 1.8rem;
  outline: none;
  border: 1px solid $ocean-green;
  background: transparent;
  cursor: pointer;
  letter-spacing: .05rem;
  @include paddingY(.7rem);
  @include paddingX(1.8rem);
  @include boxShadow();
  transition: all .1s linear;
}

.btn:active {
  transform: scale(1.05);
  transition: all .1s linear;
}

.btn-primary {
  color: #fff;
  background-color: $ocean-green
}

.btn:disabled {
  color: #fff;
  background-color: #bbb;
}

.card {
  background-color: rgba($pickled-bluewood, .07);
  padding: .8rem;
  @include boxShadow();
}

.card__title {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .1rem;
}